* {
  --primary: #65558F;
  --on-primary: #FFFFFF;

  --surface-tint: #6750A4;
  --surface-container: #EFEBF2;
  --on-surface-variant: #49454F;
  --surface-container-high: #ECE6F0;
  --surface-container-high-hover: #e8e2ed;

  --outline-variant: #EEEEEE;
  --outline: #79747E;

  --error-container: #F9DEDC;
  --on-error-container: #852221;

  --leaflet-blue: #5993CA;
}
