<template id="originDestinationInputs">
  <link rel="stylesheet" href="./components/origindestination/origin-destination.css">

  <section>
    <div class="text-field">
      <div class="label-div">
        <label>Départ</label>
      </div>
      <slot name="origin"></slot>
    </div>
    <div class="text-field">
      <div class="label-div">
        <label>Arrivée</label>
      </div>
      <slot name="destination"></slot>
    </div>
    <div class="button-container">
      <button id="search-button">Rechercher</button>
    </div>
  </section>
</template>
