section {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Ajoute un espace entre les champs */
}

.text-field {
  display: flex;
  flex-direction: column; /* Place le label au-dessus du champ */
  position: relative;
  width: 100%;
}

.label-div {
  margin-bottom: 4px; /* Ajoute un petit espace entre le label et le champ */
}

label {
  font-size: 12px;
  color: var(--on-surface-variant);
  top: 24px;
  left: 16px;
  position: relative;
}

.input-with-button {
  display: flex;
  align-items: center; /* Aligne le champ et le bouton horizontalement */
  background-color: var(--on-primary);
  border-radius: 16px;
}

.slot-div {
  width: 100%;
}

.geo-button {
  flex: 0 0 40px; /* Rend le bouton carré */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px; /* Ajoute un espace entre le champ et le bouton */
  font-size: 20px;
  border: none;
  background-color: var(--surface-container-high);
  color: var(--primary);
  border-radius: 8px;
  cursor: pointer;
}

.geo-button:hover {
  background-color: var(--surface-container-high-hover);
}

.button-container {
  text-align: right;
  margin-top: 16px;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 16px;
  cursor: pointer;
}

#search-button:hover {
  background-color: var(--surface-tint);
}
