@import "../../css/colors.css";

section {
  display: flex;
  flex-direction: column;
}

.text-field {
  width: 100%;
}

.label-div {
  height: 16px;
}

label {
  position: relative;
  top: 16px;
  font-size: 12px;
  padding-left: 16px;
}
